@{
    ViewBag.Title = "Home Page";
}

<main class="bg-body-tertiary">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center fw-bold">⭐⭐⭐⭐⭐ Hotel Eufemia ⭐⭐⭐⭐⭐</h1>
        <h2 class="text-center fw-bold">Benvenuto!</h2>
        <p class="m-3 text-center fw-bold">
            Benvenuti all'Hotel Eufemia, un'oasi di lusso e comfort situata nel cuore di una delle città più affascinanti del mondo. <br />
            Con una combinazione di eleganza senza tempo e servizio impeccabile, l'Hotel Eufemia offre un'esperienza indimenticabile per i viaggiatori più esigenti.<br />
            Situato in una posizione privilegiata, l'Hotel Eufemia vanta una vista mozzafiato sulla skyline urbana e facile accesso alle principali attrazioni della città. <br />
            Le nostre camere e suite lussuosamente arredate offrono un rifugio di tranquillità e relax dopo una giornata trascorsa a esplorare le bellezze della città.<br />
            La nostra attenzione ai dettagli si riflette nella nostra cucina raffinata, dove gli ospiti possono gustare prelibatezze culinarie preparate con ingredienti freschi e di alta qualità. <br />
            Il nostro personale cortese e professionale è sempre a disposizione per soddisfare ogni esigenza e garantire un soggiorno indimenticabile.<br />
            Che si tratti di una fuga romantica, una vacanza in famiglia o un viaggio d'affari, all'Hotel Eufemia troverete tutto ciò di cui avete bisogno per rendere il vostro soggiorno un'esperienza straordinaria. <br />
            Siate i benvenuti nel nostro mondo di lusso e ospitalità senza pari.
        </p>
    </section>
</main>